name: Build RF-Client (Windows x86)

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore NuGet packages
        run: nuget restore RA2Client.sln

      - name: Build Solution (Release | x86)
        run: |
          $errorActionPreference = "Stop"
          msbuild RA2Client.sln `
            /p:Configuration=Release `
            /p:Platform=x86 `
            /p:OutputPath="${{ github.workspace }}\RA2Client\bin\x86\Release\" `
            /v:m `
            /m
          if ($LASTEXITCODE -ne 0) {
            Write-Error "Build failed!"
            exit $LASTEXITCODE
          }

      - name: Collect output files
        run: |
          $outputDir = "${{ github.workspace }}\RA2Client\bin\x86\Release"
          if (!(Test-Path $outputDir)) {
            Write-Error "Output directory not found: $outputDir"
            exit 1
          }
          mkdir release-package
          xcopy "$outputDir\*" "release-from-package\" /E /I /Y
          if ($LASTEXITCODE -ne 0) {
            Write-Error "Failed to copy files."
            exit $LASTEXITCODE
          }

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: RF-Client-Windows-x86-${{ github.sha }}
          path: release-package/
